
/*Reset*/
.dom-viewer-wrapper div, .dom-viewer-wrapper span, .dom-viewer-wrapper applet, .dom-viewer-wrapper object, .dom-viewer-wrapper iframe, .dom-viewer-wrapper h1, .dom-viewer-wrapper h2, .dom-viewer-wrapper h3, .dom-viewer-wrapper h4, .dom-viewer-wrapper h5, .dom-viewer-wrapper h6, .dom-viewer-wrapper p, .dom-viewer-wrapper blockquote, .dom-viewer-wrapper pre, .dom-viewer-wrapper a, .dom-viewer-wrapper abbr, .dom-viewer-wrapper acronym, .dom-viewer-wrapper address, .dom-viewer-wrapper big, .dom-viewer-wrapper cite, .dom-viewer-wrapper code, .dom-viewer-wrapper del, .dom-viewer-wrapper dfn, .dom-viewer-wrapper em, .dom-viewer-wrapper img, .dom-viewer-wrapper ins, .dom-viewer-wrapper kbd, .dom-viewer-wrapper q, .dom-viewer-wrapper s, .dom-viewer-wrapper samp, .dom-viewer-wrapper small, .dom-viewer-wrapper strike, .dom-viewer-wrapper strong, .dom-viewer-wrapper sub, .dom-viewer-wrapper sup, .dom-viewer-wrapper tt, .dom-viewer-wrapper var, .dom-viewer-wrapper b, .dom-viewer-wrapper u, .dom-viewer-wrapper i, .dom-viewer-wrapper center, .dom-viewer-wrapper dl, .dom-viewer-wrapper dt, .dom-viewer-wrapper dd, .dom-viewer-wrapper ol, .dom-viewer-wrapper ul, .dom-viewer-wrapper li, .dom-viewer-wrapper fieldset, .dom-viewer-wrapper form, .dom-viewer-wrapper label, .dom-viewer-wrapper legend, .dom-viewer-wrapper table, .dom-viewer-wrapper caption, .dom-viewer-wrapper tbody, .dom-viewer-wrapper tfoot, .dom-viewer-wrapper thead, .dom-viewer-wrapper tr, .dom-viewer-wrapper th, .dom-viewer-wrapper td, .dom-viewer-wrapper article, .dom-viewer-wrapper aside, .dom-viewer-wrapper canvas, .dom-viewer-wrapper details, .dom-viewer-wrapper embed, .dom-viewer-wrapper figure, .dom-viewer-wrapper figcaption, .dom-viewer-wrapper footer, .dom-viewer-wrapper header, .dom-viewer-wrapper hgroup, .dom-viewer-wrapper menu, .dom-viewer-wrapper nav, .dom-viewer-wrapper output, .dom-viewer-wrapper ruby, .dom-viewer-wrapper section, .dom-viewer-wrapper summary, .dom-viewer-wrapper time, .dom-viewer-wrapper mark, .dom-viewer-wrapper audio, .dom-viewer-wrapper video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.dom-viewer-wrapper a {
    text-decoration: none;
}
.dom-viewer-wrapper a:hover {
    text-decoration: underline;
}
.dom-viewer-wrapper * {
    box-sizing: border-box;
}
/*end Reset*/

/*Main Container*/
.dom-viewer-wrapper .dv-container {
    display: none; /*Closed*/

    width: 320px;
    /*height: 640px;*/ /*pixel perfect*/
    height: 90vh;

    /*Centered, expandable height*/
    position: fixed;
    left: calc(50% - 160px);
    /*top: calc(50% - 320px);*/ /*pixel perfect*/
    top: calc(50% - 45vh);

    /*-webkit-font-smoothing: antialiased;*/ /*hard to tell from source image*/
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px;
    text-align: left;

    background-color: #FFF;
    border: 1px solid rgba(220, 220, 220, 1.0);
    border-radius: 3px;
    box-shadow: 0 25px 50px rgba(117, 117, 117, 0.5);

    z-index: 1031;
}

/*Open/Close DV Mechanism*/
.dom-viewer-wrapper .dv-container.dv-open {
    display: block; /*Open*/
}

/*Tree*/
.dom-viewer-wrapper .dv-tree {
    padding: 10px 0px;

    /*height: 497px;*/
    /*height: 200px;*/
    height: calc(100% - 140px);
    overflow-y: scroll;
    overflow-x: hidden;

    color: rgb(102, 102, 102);
}

/*Tree Items*/
.dom-viewer-wrapper .dv-tree ul,
.dom-viewer-wrapper .dv-tree li {
    padding-left: 0;
    text-transform: capitalize;
}
/*First Item*/
.dom-viewer-wrapper .dv-tree > .dv-branch {
    /*Padding managed explicitly below*/
}

/*Hide/Show Children of Unexpanded*/
.dom-viewer-wrapper .dv-tree ul > li,
.dom-viewer-wrapper .dv-tree ul > ul {
    display: none;
}
.dom-viewer-wrapper .dv-tree ul.dv-expanded > li,
.dom-viewer-wrapper .dv-tree ul.dv-expanded > ul {
    display: block;
}

/*Expand Control*/
.dom-viewer-wrapper .dv-tree .dv-expand-control {
    margin-right: 10px;
}
/*Closed*/
.dom-viewer-wrapper .dv-tree ul > .dv-branch-node .dv-expand-control-empty {
    display: inline-block;
    width: 20px;
}
.dom-viewer-wrapper .dv-tree ul > .dv-branch-node .dv-expand-control:before {
    /*Sprite*/
    content: " ";
    display: inline-block;
    background-image: url("../img/icons-mdpi.png");
    width: 10px;
    height: 10px;
    background-position: -133px 265px;
    opacity: 0.25;
}
/*Opened*/
.dom-viewer-wrapper .dv-tree ul.dv-expanded > .dv-branch-node .dv-expand-control:before {
    /*Sprite*/
    content: " ";
    display: inline-block;
    background-image: url("../img/icons-mdpi.png");
    width: 10px;
    height: 10px;
    background-position: -144px 265px;
    opacity: 0.25;
}

/*We need the selection background color to span 100% width,
so nested depth doesn't work in this case.*/
.dom-viewer-wrapper .dv-level-0 > .dv-branch-node { padding-left: 24px; }
.dom-viewer-wrapper .dv-level-1 > .dv-branch-node { padding-left: 48px; }
.dom-viewer-wrapper .dv-level-2 > .dv-branch-node { padding-left: 72px; }
.dom-viewer-wrapper .dv-level-3 > .dv-branch-node { padding-left: 96px; }
.dom-viewer-wrapper .dv-level-4 > .dv-branch-node { padding-left: 120px; }
.dom-viewer-wrapper .dv-level-5 > .dv-branch-node { padding-left: 144px; }
.dom-viewer-wrapper .dv-level-6 > .dv-branch-node { padding-left: 168px; }
.dom-viewer-wrapper .dv-level-7 > .dv-branch-node { padding-left: 192px; }
.dom-viewer-wrapper .dv-level-8 > .dv-branch-node { padding-left: 216px; }
.dom-viewer-wrapper .dv-level-9 > .dv-branch-node { padding-left: 240px; }
.dom-viewer-wrapper .dv-level-10 > .dv-branch-node { padding-left: 264px; }
/*Branch 11 is too far right to display*/

.dom-viewer-wrapper .dv-level-0.dv-node span { padding-left: 44px; }
.dom-viewer-wrapper .dv-level-1.dv-node span { padding-left: 68px; }
.dom-viewer-wrapper .dv-level-2.dv-node span { padding-left: 92px; }
.dom-viewer-wrapper .dv-level-3.dv-node span { padding-left: 116px; }
.dom-viewer-wrapper .dv-level-4.dv-node span { padding-left: 140px; }
.dom-viewer-wrapper .dv-level-5.dv-node span { padding-left: 164px; }
.dom-viewer-wrapper .dv-level-6.dv-node span { padding-left: 188px; }
.dom-viewer-wrapper .dv-level-7.dv-node span { padding-left: 212px; }
.dom-viewer-wrapper .dv-level-8.dv-node span { padding-left: 226px; }
.dom-viewer-wrapper .dv-level-9.dv-node span { padding-left: 240px; }
.dom-viewer-wrapper .dv-level-10.dv-node span { padding-left: 254px; }
/*Node 11 is too far right to display*/

/*Folders & Files*/
.dom-viewer-wrapper .dv-branch-node,
.dom-viewer-wrapper .dv-node {
    padding: 5px 0;
    padding-left: calc(inherit + 24px);
}

/*Folder*/
.dom-viewer-wrapper .dv-branch.dv-expandable > .dv-branch-node {
    /*cursor: pointer;*/
}
.dom-viewer-wrapper .dv-branch > .dv-branch-node span:before {
    /*Sprite*/
    content: " ";
    display: inline-block;
    background-image: url("../img/icons-mdpi.png");
    width: 14px;
    height: 14px;
    background-position: -42px 294px;
    margin-bottom: -2px;
    margin-right: 10px;
}
.dom-viewer-wrapper .dv-branch.dv-private > .dv-branch-node span:before {
    background-position: -112px 294px;
}

/*File*/
.dom-viewer-wrapper .dv-node span {
    display: inline-block;

    height: 16px;
    width: 100%;

    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
}
.dom-viewer-wrapper .dv-node > span:before {
    /*Sprite*/
    content: " ";
    display: inline-block;
    background-image: url("../img/icons-mdpi.png");
    width: 14px;
    height: 14px;
    background-position: -56px 294px;
    margin-bottom: -2px;
    margin-right: 6px;
}
.dom-viewer-wrapper .dv-tree .dv-branch.dv-selected > .dv-branch-node,
.dom-viewer-wrapper .dv-tree .dv-node.dv-selected {
    background-color: #4285F4;
    color: #FFF;
}

/*Close*/
.dom-viewer-wrapper .dv-close {
    /*Sprite*/
    content: " ";
    display: inline-block;
    background-image: url("../img/icons-mdpi.png");
    background-position: -15px -173px;
    width: 13px;
    height: 13px;

    position: relative;
    float: right;
    right: 0;
    top: 0;
    margin: 20px 15px 0 0;

    opacity: 0.30;
}

/*Header*/
.dom-viewer-wrapper .dv-title {
    height: 50px;
    padding: 20px 15px;

    font-weight: 500;
    font-size: 13px;
    line-height: 13px;

    color: #4C4C4C;
    border-bottom: 1px solid rgb(226,226,226);
}
.dom-viewer-wrapper .dv-label {
    height: 40px;
    padding: 10px 15px;

    line-height: 20px;

    color: #B2B2B2;
    border-bottom: 1px solid rgb(226,226,226);
}

/*Footer*/
.dom-viewer-wrapper .dv-footer {
    height: 50px;
    padding: 10px 15px;

    border-top: 1px solid rgb(226,226,226);
}
.dom-viewer-wrapper .dv-footer a {
    height: 28px;
    line-height: 30px;

    color: #427FED;
}
.dom-viewer-wrapper .dv-footer button {
    height: 28px;
    padding: 1px 15px;

    color: #FFF;
    background-color: #4285F4;
    border: 1px solid #3C78DC;
    border-radius: 2px;

    position: relative;
    float: right;
}
